.custom-tooltip-message .react-tooltip-lite {
  background: #ebeef2;
  color: #52575c;
  border-radius: 10px;
}

.custom-tooltip-message .react-tooltip-lite-arrow {
  border-color: #ebeef2;
}

.custom-tooltip-message .react-tooltip-lite a, .custom-tooltip-message .react-tooltip-lite a:hover  {
  text-decoration: none;
}

@media only screen and (max-width: 575px) {
  .custom-tooltip-message .react-tooltip-lite {
    left: 0 !important;
    right: 0;
    margin: 0 auto;
    width: 85% !important;
  }
}
